extends layout


block index
  .container
    #bitcamp-description.row
      p#bitcamp-summary
        | A 36 hour hackathon at the University of Maryland
      hr

    .row
      h2#bitcamp-blurb.col-xs-12.col-sm-6
        .wrapper
          | Take what you love,
          br
          | fuse it with tech,
          br
          | and build something the
          br
          | world has never seen.

      #bitcamp-signup.col-xs-12.col-sm-6.clearfix

        .wrapper
          h2
            | Feb 21-23, 2014
            br
            | College Park, MD
          button
            | sign your permission slip

      .clearfix
      hr

    #bitcamp-description.row

      p.col-xs-12.
        Camp is a place for creation, exploration, and imagination. How can you inject technology into your passions to make awesome meaningful, products? While hacking here on the University of Maryland campus, you'll connect with the interesting students and tech leaders through inspirational talks, stimulating workshops, and wild activities.

      hr

    #bitcamp-collaborate.row
      h2 Get in on the fun!

      p
        | From sponsors and partners to speakers and evangelists,
        br
        | we're looking for people and organizations to join us.
        br
        | This thing is happening, where do you fit in?

      a(href="mailto:jeff@bitcamp.com")
        button#bitcamp-contact-us contact us

      hr
