extends layout


block index
  .container
    .row
      h2#bitcamp-blurb.col-sm-6
        | Take what you love,
        | fuse it with tech,
        | and build something the
        | world has never seen.

      #bitcamp-register.col-sm-6
        h2
          | April 4-6, 2014
          | College Park, MD
        a(target="_blank", href="https://docs.google.com/forms/d/1q52wjr8FBAw2KSp86mZMBns3y67llD29BNkpomjyOnM/viewform")
          button.button-typo register now

      .clearfix
      hr

    #bitcamp-definition.row
      #bitcamp-summary.col-xs-12
        p 36-hour hackathon at the University of Maryland

    #bitcamp-description.row
      p.col-xs-12
        | Camp is a place for creation, exploration, and imagination. How can you inject technology into your passions to make awesome, meaningful products? While hacking here on the University of Maryland campus, you'll connect with the interesting students and tech leaders through inspirational talks, stimulating workshops, and wild activities.
      .clearfix
      hr

    #bitcamp-collaborate.row
      h2.col-xs-12 Get in on the fun!

      p.col-xs-push-2.col-xs-8.col-xs-pull-2
        | From sponsors and partners to speakers and evangelists,
        | we're looking for people and organizations to join us.
        | This thing is happening, where do you fit in?
      .clearfix

      #bitcamp-contact-us.col-xs-12
        a(href="mailto:hello@bitca.mp", target="_blank")
          button.button-typo contact us

      hr
