!!! 5

html.no-js

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Bitcamp
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    #background1
    #background2

    .header-container
      header.wrapper.clearfix
        #header
          include header

    .side-bar-container
      #sidebar

    .main-container
      .main.wrapper.clearfix
        #main
          block index

    .footer-container
      footer.wrapper
        #footer
          include footer

    include templates

    script(src="js/plugins.min.js")
    script(src="js/main.min.js")
