!!! 5

html(ng-app="bitcamp")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="36-hour hackathon at the University of Maryland. April 4-6, 2014.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    meta(property="og:site_name",   content="Bitcamp")
    meta(property="og:title",       content="Bitcamp")
    meta(property="og:url",         content="http://bitca.mp")
    meta(property="og:type",        content="website")
    meta(property="og:image",       content="http://bitca.mp/img/bitcamp-fb-opengraph.png")
    meta(property="og:description", content="36-hour hackathon at the University of Maryland. April 4-6, 2014.")

    title Bitcamp

    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="/css/main.min.css")

  body
    #background

    #bitcamp.wrapper(ng-controller="BitcampCtrl")

      .header-container(ng-controller="HeaderCtrl")
        header.wrapper.clearfix
          #header
            include header

      .main-container(ng-controller="ContentCtrl")
        .main.wrapper.clearfix
          #main
            block index

      .footer-container(ng-controller="FooterCtrl")
        footer.wrapper.clearfix
          #footer
            include footer

    include templates

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
