/* ==========================================================================
 * Main Site Styles
 * ========================================================================== */

@import "compass/reset"
@import "compass/css3"

@import "fonts"


$white_ish: #fafafa
$grey_ish:  #555555
$black_ish: #1f1f1f
$orange: rgb(241, 90, 36)

$xs-max: 768px
$sm-max: 992px
$md-max: 1200px

$xs-min: 320px
$sm-min: 768px
$md-min: 992px
$lg-min: 1200px


*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

@mixin background
  background: url('/images/bg.jpg') no-repeat center top scroll
  @media screen and (max-width: 850px)
    background-size: 850px
  background-size: 100%
  min-height: 100%

html
  @include background
  background-color: black

body
  position: relative
  min-width: $xs-min
  #background
    @include background
    -webkit-filter: blur(8px)

    position: absolute
    top: 0
    right: 0
    left: 0
    z-index: -1

body
  background-color: transparent
  color: $white_ish
  font-family: 'aleo-regular', sans-serif
  font-size: 18px
  text-shadow: 1px 0 $grey_ish

p, h1, h2, h3, h4, h5, h6
  line-height: 1.2em
  margin-bottom: 20px
p
  padding: 5px 0
h1
  font-size: 95px
  font-family: 'aleo-bold', sans-serif
h2
  font-size: 28px

hr
  border-top: 1px dashed $white_ish
  opacity: 0.2
  margin: 50px 20px

button
  font-family: 'aleo-bold', sans-serif
  line-height: 1.2em
  border: none
  color: $white_ish
  border-radius: 6px


#header
  padding: 75px 0 60px
  text-align: center
  #logo
    $logo-size: 135px
    display: inline-block
    vertical-align: middle
    background-image: url('/images/badge.svg')
    background-repeat: no-repeat
    background-size: $logo-size $logo-size
    background-position: center center
    width: $logo-size
    height: $logo-size
    @media screen and (min-width: $xs-min)
      margin-right: 20px

#main
  #bitcamp-blurb
    text-align: center
    @media screen and (min-width: $sm-min)
      text-align: right
    .wrapper
      padding-right: 11px
  #bitcamp-signup
    @media screen and (max-width: $xs-max)
      text-align: center
    .wrapper
      padding-left: 11px
    button
      border: none
      padding: 15px
      background-color: $orange
      box-shadow: 0 3px 1px $black_ish
  #bitcamp-description
    text-align: justify
  #bitcamp-collaborate
    text-align: center
    button#bitcamp-contact-us
      position: relative
      padding: 15px
      background: transparent
      border: 1px dashed $white_ish

#footer
  font-size: 14px
  padding-bottom: 180px
  ul.footer-links
    a
      color: $white_ish
    text-align: center
    li
      list-style: none
      margin-bottom: 10px
      &.spacer
        display: none
        margin: 0 10px
      @media screen and (min-width: $xs-max)
        display: inline !important

